@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Patraic's Disc Inventory</h1>
    <p>Please select a section:</p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Index">Manage Artists</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Borrower" asp-action="Index">Manage Borrowers</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Disc" asp-action="Index">Manage Discs</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Rental" asp-action="Index">Rental Checkout</a>
</div>
